html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: x-large;
}

@media (max-width: 480px) {

  html,
  body {
    font-size: medium;
  }
}

.settings {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.settings-content {
  background-color: #777777;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.settings-content h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.settings-buttons {
  margin-top: 20px;
}

.preset-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.preset-buttons button:focus {
  background-color: #039777;
  color: #fff;
  outline: none;
  border: none;
}

.settings-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.settings-buttons button:nth-child(1) {
  background-color: #039777;
  color: #fff;
}

.settings-buttons button:nth-child(2) {
  background-color: #ccc;
  /* Gris */
  color: #000;
}

.reset-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.reset-modal-content {
  background: #777777;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  max-width: 300px;
  text-align: center;
}

.reset-modal p {
  margin-bottom: 20px;
}

.reset-modal-buttons button {
  margin-right: 10px;
  padding: 10px 20px;
  background: #899b93;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-modal-buttons button:hover {
  background: #039777;
}

.clock-container {
  height: 47vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #acacac;
}

.clock-container.reversed {
  transform: rotate(180deg);
}

.clock-container.running {
  background-color: rgba(127, 189, 34, 0.699);
}

.clock-container.rot {
  background-color: red;
}

.clock-moves {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.clock-timer {
  font-size: 4rem;
}

.controls {
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
  background-color: #747474;
  align-items: center;
}